<header>
    <div class="header-top"><nobr>

        <nav role="navigation" class="nav">
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="{% url 'post:home' %}" class="nav-link"><span>Home</span></a>
                </li> 
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link"><span>search</span></a>
                    <nav class="submenu">
                        <ul class="submenu-items">
                            <li class="submenu-item"><a href="#" class="submenu-link">CAFE</a></li>
                            <li class="submenu-item"><a href="#" class="submenu-link">FOOD</a></li>
                            <li class="submenu-item"><a href="#" class="submenu-link">AREA</a></li>
                        </ul>
                    </nav>
                </li> 
                <li class="nav-item dropdown">
                    <a href="{% url 'user:login' %}" class="nav-link"><span>Login</span></a>
                    <nav class="submenu">
                        <ul class="submenu-items">
                            <li class="submenu-item"><a href="#" class="submenu-link">login</a></li>
                            <li class="submenu-item"><a href="#" class="submenu-link">new add</a></li>
                            <li class="submenu-item"><hr class="submenu-seperator" /></li>
                            <li class="submenu-item"><a href="#" class="submenu-link">About</a></li>
                            <li class="submenu-item"><a href="#" class="submenu-link">FAQs</a></li>
                            <li class="submenu-item"><a href="#" class="submenu-link">contact</a></li>
                        </ul>
                    </nav>
                </li>  
            </ul>
        </nav>
        <script src="./script.js"></script></nobr>
    </div>




    
</header>
